.catalog-main__heading {
  padding-top: 73px;
  padding-bottom: 73px;
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: #f1f1f1;

  @media (min-width: @tablet-width) {
    padding: 100px 0 87px;
    margin-top: -75px;

    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/hero-divider-medium.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
  }

  @media (min-width: @desktop-width) {
    padding: 102px 0 112px;

    font-size: 53px;
    line-height: 57px;

    background-image: url("../img/hero-divider-big.svg");
  }
}

.catalog-main__products {
  margin-bottom: 30px;
}

.catalog-main__production {
  margin-bottom: 58px;
}
