.configurations {
  width: 260px;

  padding-top: 17px;
  padding-bottom: 55px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;

    padding-top: 54px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 98px;
  }
}

.configurations__description {
  margin: 0;
  margin-bottom: 29px;

  font-size: 13px;

  @media (min-width: @tablet-width) {
    width: 668px;

    font-size: 17px;
    line-height: 30px;

    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 702px;

    padding-bottom: 12px;
  }
}

.configurations__fieldset {
  position: relative;
  margin-bottom: 34px;
  padding: 0;

  &--special {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 668px;

    margin: 0 auto;
    padding: 50px 0;

    &--tel {
      padding-bottom: 24px;
    }

    &--email {
      padding-top: 0;
    }
  }
}

.configurations__legend {
  position: relative;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  color: @green;

  &--tel {
    margin-bottom: 4px;
  }

  &--email {
    margin-bottom: 4.5px;
  }

  @media (max-width: (@tablet-width - 1)) {
    background-color: @white;
    padding-right: 23px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 67px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    left: -114px;

    &--checkbox {
      left: -75px;
    }

    &--email {
      top: 17px;
    }
  }
}

.configurations__decor {
  display: none;

  @media (max-width: (@tablet-width - 1)) {
    display: block;
    position: absolute;
    top: -38px;
    left: 0;
    right: 0;

    height: 1px;
    width: 100%;

    background-color: @green;
    z-index: -1;

    &--special {
      top: -12px;
    }
  }
}

.configurations__group-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 10px;
    width: 500px;

    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 740px;
    padding-left: 40px;
  }
}

.configurations__group {
  display: flex;
  align-items: center;
  position: relative;

  margin: 0;
  margin-bottom: 12px;

  &--checkbox {
    margin-bottom: 23px;
  }

  &--name {
    flex-direction: column;
    align-items: start;

    margin-bottom: 22px;
  }

  &--last {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    width: 500px;
    margin-left: auto;

    &--checkbox {
      width: 240px;

      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 700px;

    &--checkbox {
      width: 240px;

      margin: 0;
    }
  }
}

.configurations__radio-label {
  max-width: 194px;
  margin-left: 19px;
}

.configurations__radio-mark {
  display: inline-block;
  width: 42px;
  height: 42px;
  box-sizing: border-box;

  border: 2px solid @gray;
  border-radius: 50%;

  order: -1;
}

.configurations__radio-input:checked+.configurations__radio-mark {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 17px;
    height: 17px;

    background-color: @green;
    border-radius: 50%;

    transform: translate(-50%, -50%);
  }
}

.configurations__radio-input:hover+.configurations__radio-mark {
  border-color: @green;
}

.configurations__radio-input:active+.configurations__radio-mark {
  border-color: fade(@black, 30%);
}

.configurations__radio-input:focus+.configurations__radio-mark {
  outline: 2px solid @green;
}

.configurations__checkbox-label {
  padding-left: 23px;
}

.configurations__checkbox-mark {
  display: inline-block;
  width: 42px;
  height: 42px;
  box-sizing: border-box;

  border: 2px solid @gray;

  order: -1;
}

.configurations__checkbox-input:checked+.configurations__checkbox-mark {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 16px;

    background-image: url("../../img/check-mark.svg");
    background-repeat: no-repeat;

    transform: translate(-50%, -50%);
  }
}

.configurations__checkbox-input:hover+.configurations__checkbox-mark {
  border-color: @green;
}

.configurations__checkbox-input:active+.configurations__checkbox-mark {
  border-color: fade(@black, 30%);
}

.configurations__checkbox-input:focus+.configurations__checkbox-mark {
  outline: 2px solid @green;
}

.configurations__icon {
  position: absolute;
  right: 3px;
  bottom: 25px;

  @media (min-width: @tablet-width) {
    right: 26px;

    &--email {
      right: 22px;
    }
  }

  @media (min-width: @desktop-width) {
    right: 8px;

    &--email {
      right: 4px;
    }
  }
}

.configurations__textarea-field {
  width: 100%;
  box-sizing: border-box;

  padding: 17px;
  margin-bottom: 13px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  border: 2px solid @black;

  resize: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 500px;

    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }

  &:hover {
    border-color: @green;
  }

  &:focus {
    border-color: @green;
    outline: none;
  }
}

.configurations__textarea-field::placeholder {
  color: @black;

  opacity: 0.3;
}

.configurations__wrapper {
  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.configurations__promt {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    order: 2;

    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.configurations__submit {
  width: 260px;

  padding: 16px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;

  background-color: transparent;
  border: 2px solid @gray;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
