.contacts {
  padding: 44px 0 39px;

  @media (min-width: @tablet-width) {
    padding: 69px 0 57px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 524px 527px;
    grid-template-areas:
      "contacts map"
      "link map";
    width: 1050px;

    margin: 0 auto;
    padding: 71px 0 105px;
  }
}

.contacts__container {
  display: grid;
  row-gap: 30px;
  width: 260px;

  margin: 0 auto;

  &--secondary {
    margin-bottom: 62px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 308px 335px;
    row-gap: 49px;
    column-gap: 25px;
    width: 668px;

    margin: 0 auto;

    &--secondary {
      margin-bottom: 49px;
    }

    &--default {
      grid-template-columns: 1fr;
      justify-self: center;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 327px;
    row-gap: 32px;
    width: 327px;

    &--secondary {
      grid-area: contacts;
    }

    &--default {
      grid-area: link;
      justify-self: start;
      align-self: flex-end;
      min-width: 230px;
    }
  }
}

.contacts__heading {
  position: relative;

  margin: 0;

  @media (min-width: @tablet-width) {
    grid-column: ~(1/-1);

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: -20px;

      width: 46px;
      height: 81px;

      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: @desktop-width) {
      &::after {
        left: -110px;
        top: -7px;
      }
    }
  }
}

.contacts__wrapper {
  display: flex;

  line-height: 30px;

  color: @gray;
}

.contacts__info {
  width: 76px;
  margin: 0;
}

.contacts__email {
  position: relative;

  text-decoration: none;

  color: @gray;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;

    height: 1px;

    background-color: @green;
  }

  &:hover {
    color: @green;
  }

  &:active::after {
    opacity: 0.1;
  }
}

.contacts__adress {
  font-style: normal;
}

.contacts__map-wrapper {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    grid-area: map;
  }
}

.contacts__map {
  border: none;
}

.contacts__link {
  justify-self: center;
  display: inline-block;
  min-width: 230px;

  @media (min-width: @tablet-width) {
    justify-self: center;
  }

  @media (min-width: @desktop-width) {
    justify-self: start;
  }
}
