.feedback {
  width: 260px;
  position: relative;

  margin: 0 auto;
  padding: 28px 0 45px;

  background-image: url("../img/divider-small.png");
  background-repeat: repeat-x;
  background-position: 0 100%;

  @media (min-width: @tablet-width) {
    width: 668px;

    margin: 0 auto;
    padding: 82px 0 132px;

    background-image: url("../img/divider-medium.png");
    background-position: 0 100%;
    background-repeat: repeat-x;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -50px;

      width: 350px;
      height: 457px;

      background-image: url("../img/feedback.jpg");
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1050px;

    margin: 0 auto;
    padding: 78px 0 163px;

    background-image: url("../img/divider-big.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
  }
}

.feedback__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 300px 368px;
    grid-template-areas:
      "title link"
      "list controls"
      "list controls";
    row-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 400px 475px;
    row-gap: 35px;
    width: 875px;

    margin-left: auto;
  }
}

.feedback__heading {
  padding-bottom: 14px;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-area: title;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-area: list;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 715px;
  }
}

.feedback__item {
  list-style-type: none;
}

.feedback__blockquote {
  margin: 0;
  margin-bottom: 33px;

  line-height: 30px;

  color: @gray;

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.feedback__author {
  font-size: 17px;
  font-style: normal;
}

.feedback__author-link {
  display: block;

  padding-bottom: 30px;

  font-size: 17px;
  text-decoration: none;
  font-style: normal;

  color: @gray;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.feedback__control-wrapper {
  display: grid;
  grid-template-columns: 130px 130px;

  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    grid-area: controls;
    justify-self: end;
    align-self: end;

    margin: 0;
  }
}

.feedback__button {
  position: relative;

  min-width: 130px;
  min-height: 52px;

  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid @lite-gray;
  background-position: 50% 50%;

  &--next {
    border-right: none;
    transform: rotate(180deg);
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }
}

.feedback__link {
  @media (min-width: @tablet-width) {
    grid-area: link;
    min-width: 175px;

    align-self: flex-start;
    justify-self: end;
  }
}
