.feedback {
  width: 260px;
  position: relative;

  margin: 0 auto;
  padding: 29px 0 53px;

  background-image: url("../img/divider-small.svg");
  background-repeat: repeat-x;
  background-position: 0 100%;

  @media (max-width: @desktop-width) {
    background-image: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 1000%;
      height: 6px;

      margin-left: -100%;

      background-image: url("../img/divider-small.svg");
      background-size: 16px auto;
      background-position-x: 22px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 668px;

    margin: 0 auto;
    padding: 79px 0 135px;

    background-position: 0 100%;
    background-repeat: repeat-x;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50px;

      width: 350px;
      height: 457px;

      background-image: url("../img/feedback@1x.jpg");
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/feedback@2x.jpg");
        background-size: 100% auto;
      }
    }

    &::after {
      height: 17px;
      background-image: url("../img/divider-medium.svg");
      background-position-x: 0;
      background-size: 38.5px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1050px;

    margin: 0 auto;
    padding: 77px 0 188px;

    background-image: url("../img/divider-big.svg");
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 52.5px auto;
    background-position: 0 100%;

    &::before {
      left: 0;
    }
  }
}

.feedback__wrapper {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 300px 368px;
    grid-template-areas:
      "title link"
      "list controls"
      "list controls";
    row-gap: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 400px 475px;
    row-gap: 35px;
    width: 875px;

    margin-left: auto;
  }
}

.feedback__heading {
  padding-bottom: 14px;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-area: title;

    padding: 0;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-area: list;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 805px;
  }
}

.feedback__item {
  list-style-type: none;

  &--hidden {
    display: none;
  }
}

.feedback__blockquote {
  margin: 0;
  margin-bottom: 33px;

  line-height: 30px;

  color: @gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;

    font-size: 17px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.feedback__author {
  font-size: 17px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.feedback__author-link {
  display: block;

  padding-top: 6px;
  padding-bottom: 30px;

  font-size: 17px;
  text-decoration: none;
  font-style: normal;

  color: @gray;

  @media (min-width: @tablet-width) {
    padding: 5px 0 0;
  }
}

.feedback__control-wrapper {
  display: grid;
  grid-template-columns: 130px 130px;

  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    grid-area: controls;
    justify-self: end;
    align-self: end;
    grid-template-columns: 50px 50px;
    column-gap: 37px;

    margin: 0;
    margin-right: 18px;
  }
}

.feedback__button {
  position: relative;

  min-height: 52px;

  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid @lite-gray;
  background-position: 50% 50%;

  &--next {
    border-right: none;
    transform: rotate(180deg);
  }

  @media (min-width: @tablet-width) {
    border: none;
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }
}

.feedback__link {
  @media (min-width: @tablet-width) {
    grid-area: link;
    min-width: 175px;

    align-self: flex-start;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}
