.feedback {
  padding: 28px 30px 45px;
}

.feedback__heading {
  margin: 0;
  margin-bottom: 14px;
}

.feedback__blockquote {
  margin: 0;
  margin-bottom: 33px;

  line-height: 30px;

  color: @gray;
}

.feedback__author {
  font-size: 17px;
  font-style: normal;
}

.feedback__author-link {
  display: block;

  margin-bottom: 30px;

  font-size: 17px;
  text-decoration: none;
  font-style: normal;

  color: @gray;
}

.feedback__control-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 39px;
}

.feedback__button {
  position: relative;

  min-width: 130px;
  min-height: 52px;

  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid @lite-gray;
  background-position: 50% 50%;

  &--next {
    border-right: none;
    transform: rotate(180deg);
  }
}
