.form-main__heading {
  margin: 0;
  padding: 73px 0 79px;

  font-size: 27px;
  text-align: center;

  background-color: #f1f1f1;

  @media (min-width: @tablet-width) {
    margin-top: -80px;
    padding: 102px 0 95px;

    background-image: url("../img/hero-divider-medium.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;

    border-top: 1px solid @lite-gray;
  }
}
