.header {
  position: relative;

  margin: 0 auto;
  color: @black;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 320px 350px;
    grid-template-areas:
      "logo user-list"
      "site-list promt";

    width: 668px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 450px 150px 450px;
    grid-template-areas:
      "site-list logo user-list"
      "trade-list trade-list promt";

    width: 1050px;
    max-width: 1200px;
  }
}

@media (max-width: (@tablet-width - 1)) {
  .header {
    background-color: @white;
  }

  .header--closed .header__site-list,
  .header--closed .header__user-list {
    display: none;
  }

  .header--opened {
    position: fixed;
    width: 100vw;

    z-index: 1;
  }

  .header--opened ~ .index-body__main,
  .header--opened ~ .form-body__main,
  .header--opened ~ .catalog-body__main,
  .header--opened ~ .footer {
    transform: translateY(85px);
  }

  .header--opened .header__button-toggle {
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &::before {
      width: 0;
      height: 0;
    }
  }

  .header--nojs .header__button-toggle {
    display: none;
  }
}

.header__logo-link {
  display: block;
  grid-area: logo;
  position: relative;

  width: 85px;

  margin-left: auto;
  margin-right: auto;
  padding: 22px 0 17px;

  @media (min-width: @tablet-width) {
    width: 113px;
    margin-left: 0;
  }

  &:hover {
    .hover();
  }

  &:active {
    .active();
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    padding: 8px 0 0;
  }
}

.header__logo-image {
  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.header__button-toggle {
  position: absolute;
  top: 0;
  right: 0;

  padding: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;

    height: 2px;
    width: 20px;

    background-color: @black;
    box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__site-list {
  grid-area: site-list;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 37px;
  }

  @media (min-width: @desktop-width) {
    .header__link {
      font-size: 17px;
      padding-top: 32px;
    }
  }
}

.header__site-item {
  list-style-type: none;

  border-top: 1px solid @lite-gray;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-right: 35px;

    border-right: 1px solid @lite-gray;

    &--last {
      border-right: none;
    }
  }
}

.header__user-list {
  grid-area: user-list;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 85px 265px;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.header__user-item {
  align-self: center;
  list-style-type: none;

  border-top: 1px solid @lite-gray;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-left: 1px solid @lite-gray;
  }
}

.header__trade-list {
  display: none;
  grid-area: trade-list;

  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 62px;

    .header__link {
      padding-top: 17px;
    }
  }
}

.header__trade-item {
  list-style-type: none;
}

.header__link {
  display: block;
  position: relative;

  padding-top: 24px;
  padding-bottom: 29px;
  padding-left: 76px;

  font-size: 17px;

  color: @black;

  &--search {
    svg {
      position: absolute;

      margin-left: -44px;
      margin-top: 4px;

      @media (min-width: @tablet-width) {
        margin-left: 33px;
        margin-top: 12px;
      }

      @media (min-width: @desktop-width) {
        margin-left: 32px;
        margin-top: 8px;
      }
    }
  }

  &--basket {
    svg {
      position: absolute;

      margin-left: -44px;
      margin-top: 4px;

      @media (min-width: @tablet-width) {
        margin-left: -51px;
      }

      @media (min-width: @desktop-width) {
        margin-left: -54px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 19px;

    font-size: 15px;

    &--basket {
      padding-top: 27px;
      padding-right: 2px;
      font-size: 17px;
      text-align: end;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 33px;
    }
  }

  svg {
    opacity: 0.2;
  }

  &:hover {
    color: fade(@black, 60%);

    svg {
      fill: @lite-green;
      opacity: 1;
    }
  }

  &:active {
    .active();
  }
}

.header__text-menu {
  @media (min-width: @tablet-width) {
    font-size: 0;
  }
}

.header__promt {
  display: none;
  grid-area: promt;

  @media (min-width: @tablet-width) {
    display: block;
    justify-self: end;

    margin: 0;
    padding-top: 18px;

    font-size: 15px;
  }
}
