.header {
  position: relative;

  background-color: @white;
  color: @black;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 320px 350px;
    grid-template-areas:
      "logo user-list"
      "site-list promt";

    width: 668px;

    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 450px 150px 450px;
    grid-template-areas:
      "site-list logo user-list"
      "trade-list trade-list promt";

    width: 1050px;
    max-width: 1200px;

    margin: 0 auto;
  }
}

.header__logo-link {
  display: block;
  grid-area: logo;

  width: 85px;

  margin-left: auto;
  margin-right: auto;
  padding: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.header__button-toggle {
  position: absolute;
  top: 0;
  right: 0;

  padding: 40px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__site-list {
  grid-area: site-list;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: start;
    gap: 35px;
  }
}

.header__site-item {
  list-style-type: none;

  border-top: 1px solid @lite-gray;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.header__user-list {
  grid-area: user-list;

  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 85px 265px;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.header__user-item {
  list-style-type: none;

  border-top: 1px solid @lite-gray;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-left: 1px solid @lite-gray;
  }
}

.header__trade-list {
  display: none;
  grid-area: trade-list;

  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    gap: 45px;
  }
}

.header__trade-item {
  list-style-type: none;
}

.header__link {
  display: block;

  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 76px;

  font-size: 17px;

  color: @black;

  @media (min-width: @tablet-width) {
    padding-left: 0;

    font-size: 15px;

    &--basket {
      text-align: end;

      font-size: 17px;
    }
  }
}

.header__text-menu {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__promt {
  display: none;
  grid-area: promt;

  @media (min-width: @tablet-width) {
    display: block;
    justify-self: end;
    align-self: center;

    margin: 0;

    font-size: 15px;
  }
}
