.header {
  position: relative;

  background-color: @white;
  color: @black;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 47% 53%;
  }
}

.header__logo-link {
  display: block;

  width: 85px;

  margin-left: auto;
  margin-right: auto;
  padding: 22px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }
}

.header__button-toggle {
  position: absolute;
  top: 0;
  right: 0;

  padding: 40px;
}

.header__site-list {
  margin: 0;
  padding: 0;
}

.header__user-list {
  margin: 0;
  padding: 0;
}

.header__item {
  list-style-type: none;

  border-top: 1px solid @lite-gray;
}

.header__link {
  display: block;

  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 76px;

  font-size: 17px;

  color: @black;
}
