.input {
  width: 100%;

  padding-top: 15px;
  padding-bottom: 16px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;

  color: @gray;
  background-color: transparent;

  border: none;
  border-bottom: 2px solid @black;

  &--tel {
    padding: 14px 40px 20px 0;
  }

  &--email {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 11px;

    font-size: 19px;
    line-height: 18px;
  }

  &:hover {
    border-color: @green;
  }

  &:focus {
    border-color: @green;
    outline: none;
  }
}

.input::placeholder {
  color: @black;

  opacity: 0.3;
}
