.input {
  width: 100%;

  padding-top: 17px;
  padding-bottom: 17px;

  font-family: inherit;
  font-size: 19px;
  line-height: 18px;

  color: @gray;
  background-color: transparent;

  border: none;
  border-bottom: 2px solid @black;

  &--tel {
    padding-top: 14px;
    padding-bottom: 20px;
  }

  &--email {
    padding-top: 16px;
    padding-bottom: 18px;
  }
}

.input::placeholder {
  color: @black;

  opacity: 0.3;
}
