.link {
  box-sizing: border-box;

  font-weight: 700;

  text-decoration: none;
}

.link--default {
  display: block;

  padding: 14px;

  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  color: @gray;
  border: 2px solid @gray;

  &:hover {
    background-color: @gray;
    color: @white;
  }

  &:active {
    color: fade(@white, 30%);
  }
}
