.main-header__heading {
  padding: 73px 30px 120px;
  margin: 0;

  text-align: center;

  background-color: #f9f9f9;
  background-image: url("../../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;

  @media (min-width: @tablet-width) {
    margin-top: -80px;
    padding: 110px 0 372px;

    border-top: 1px solid @lite-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 114px 0 355px;
  }
}

.main-header__list {
  display: grid;
  position: relative;

  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 668px;
    grid-template-columns: 334px 334px;

    margin: 0 auto;
    margin-top: -109px;

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;

      height: 24px;
      width: 1000%;

      margin-left: -50%;

      background-image: url("../img/hero-divider-medium.svg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    grid-template-columns: 525px 525px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;

      height: 24px;
      width: 1000%;

      background-image: url("../img/hero-divider-big.svg");
    }
  }
}

.main-header__item {
  list-style-type: none;
}

.main-header__link {
  display: block;
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 31px;

  color: @white;
  background-color: @lite-green;
  background-repeat: no-repeat;

  &--interior {
    background-image: url("../img/interior.svg");
    background-position: 233px 23px;

    &:active {
      background-color: #59d5bc;
    }
  }

  &--toys {
    background-color: @dark-green;
    background-image: url("../img/toy.svg");
    background-position: 225px 23px;

    &:active {
      background-color: #46c1ae;
    }
  }

  &:hover {
    transform: translateY(-5px);
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 34px;

    &--interior {
      background-position: 257px 23px;
    }

    &--toys {
      background-position: 240px 23px;
    }

    @media (min-width: @desktop-width) {
      &--interior {
        background-position: 448px 30px;
      }

      &--toys {
        background-position: 430px 30px;
      }
    }
  }
}
