.main-features {
  padding: 31px 30px 29px;
}

.main-features__heading {
  margin: 0;
  margin-bottom: 28px;
}

.main-features__list {
  display: grid;
  gap: 30px;

  margin: 0;
  padding: 0;
}

.main-features__item {
  padding-top: 54px;

  list-style-type: none;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  background-repeat: no-repeat;

  &--eco {
    background-image: url(../../img/features/eco.svg);
  }

  &--money {
    background-image: url(../../img/features/money.svg);
  }

  &--heart {
    background-image: url(../../img/features/heart.svg);
  }

  &--clew {
    background-image: url(../../img/features/clew.svg);
  }

  &--rocket {
    background-image: url(../../img/features/rocket.svg);
  }

  &--gift {
    background-image: url(../../img/features/gift.svg);
  }
}
