.main-features {
  padding: 31px 30px 29px;
}

.main-features__heading {
  margin: 0;
  margin-bottom: 28px;
}

.main-features__list {
  display: grid;
  gap: 30px;

  margin: 0;
  padding: 0;
}

.main-features__item {
  padding-top: 54px;

  list-style-type: none;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  background-repeat: no-repeat;

  &--eco {
    background-image: url("../img/eco.svg");
    background-size: 33px 38px;
  }

  &--money {
    background-image: url("../img/money.svg");
    background-size: 47px 27px;
  }

  &--heart {
    background-image: url("../img/heart.svg");
    background-size: 34px 27px;
  }

  &--clew {
    background-image: url("../img/clew.svg");
    background-size: 35px 34px;
  }

  &--rocket {
    background-image: url("../img/rocket.svg");
    background-size: 55px 23px;
  }

  &--gift {
    background-image: url("../img/gift.svg");
    background-size: 33px 32px;
  }
}
