.main-product {
  width: 260px;

  padding: 31px 0 36px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 292px 165px 126px;
    grid-template-areas:
      "title title feature"
      "text image image"
      "list image image"
      "price image image"
      "link image image";
    column-gap: 42px;

    width: 668px;
    margin: 0 auto;
    padding: 50px 0 69px;

    background-image: url("../img/divider-medium.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 132px 292px 525px;
    column-gap: 43px;
    grid-template-areas:
      "feature title image"
      "feature text image"
      "feature list image"
      "feature price image"
      "feature link image";

    width: 1050px;
    margin: 0 auto;
    padding: 71px 0 96px;

    background-image: url("../img/divider-big.png");
    background-position: 0 100%;
    background-repeat: repeat-x;
  }
}

.main-product__heading {
  grid-area: title;

  margin: 0;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    width: 545px;
    z-index: 1;
  }
}

.main-product__feature {
  display: block;
  grid-area: feature;

  margin-bottom: 17px;

  font-size: 17px;
  line-height: 20px;

  color: @lite-green;

  @media (min-width: @tablet-width) {
    width: 72px;
    justify-self: end;

    margin-right: 27px;

    text-align: center;
  }
}

.main-product__text {
  grid-area: text;

  margin: 0;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.main-product__list {
  grid-area: list;

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 109px;
  }
}

.main-product__wrapper {
  display: flex;

  box-sizing: border-box;

  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid @lite-gray;
}

.main-product__termin {
  width: 97px;
}


.main-product__descrtiption {
  margin: 0;
}

.main-product__image {
  display: block;
  grid-area: image;

  margin-bottom: 25px;
}

.main-product__price {
  grid-area: price;
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  text-align: center;
  font-size: 17px;

  color: @gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }
}

.main-product__link {
  grid-area: link;
}
