.main-header {

}

.main-header__heading {
  margin: 0;
  padding: 73px 30px 120px;

  background-image: url(../../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% -17px;
}

.main-header__list {
  margin: 0;
  padding: 0;
}

.main-header__item {
  list-style-type: none;
}

.main-header__link {
  display: block;
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 31px;

  color: @white;
  background-color: @lite-green;
}

.main-header__link--toys {
  background-color: @dark-green;
}
