.main-product {
  padding: 31px 30px 36px;
}

.main-product__heading {
  margin: 0;
  margin-bottom: 3px;
}

.main-product__feature {
  display: block;

  margin-bottom: 17px;

  font-size: 17px;
  line-height: 20px;

  color: @lite-green;
}

.main-product__text {
  margin: 0;
  margin-bottom: 18px;
}

.main-product__list {
  margin: 0;
  margin-bottom: 28px;
}

.main-product__wrapper {
  display: flex;

  box-sizing: border-box;

  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid @lite-gray;
}

.main-product__termin {
  width: 97px;
}


.main-product__descrtiption {
  margin: 0;
}

.main-product__image {
  display: block;

  margin-bottom: 25px;
}

.main-product__price {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  font-size: 17px;

  color: @gray;
}
