.production {
  padding-top: 21.5px;
  padding-bottom: 33px;

  border-top: 1px solid @lite-gray;
  border-bottom: 1px solid @lite-gray;
}

.production__heading {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 57px;

  text-align: center;
}

.production__text {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 34px;
  padding-right: 30px;

  font-size: 13px;
}
