.product-card {
  border-bottom: 1px solid @lite-gray;
}

.product-card__image {
  display: block;

  margin-bottom: 27.5px;
}

.product-card__heading {
  margin: 0;
  margin-bottom: 6px;
}

.product-card__description {
  margin: 0;
  margin-bottom: 17.5px;

  font-size: 13px;
  line-height: 30px;
}

.product-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid @lite-gray;
}

.product-card__button {
  padding: 40px;
}
