.production {
  display: grid;
  width: 260px;
  position: relative;

  margin: 0 auto;

  padding: 23px 0 33px;
  margin-bottom: 58px;
  border: 1px solid @lite-gray;

  @media (min-width: @tablet-width) {
    width: 668px;
    padding-top: 0;
    padding-bottom: 46px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 682px 290px;
    grid-template-rows: 171px 171px 112px;
    column-gap: 80px;
    width: 1050px;

    padding: 0;
    margin-bottom: 105px;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__heading {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 91px;

  font-size: 17px;
  text-align: start;

  background-image: url("../img/video-icon.svg");
  background-repeat: no-repeat;
  background-position: 32px 14px;

  @media (min-width: @tablet-width) {
    padding-left: 107px;

    font-size: 20px;
    text-align: left;

    background-position: 40px 0;
  }

  @media (min-width: @desktop-width) {
    width: 180px;

    margin-top: 47px;
    padding: 50px 0 0 0;

    background-position: 0 0;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 34px;
  padding-right: 30px;

  font-size: 13px;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.production__video {
  width: 100%;
  max-height: 150px;

  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    min-height: 446px;
    order: -1;

    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1/-1;
    min-height: 455px;
  }
}

.production__poster {
  display: none;

  @media (max-width: (@tablet-width - 1)) {
    display: block;
    position: absolute;
    top: 97px;
  }
}

.production__play-button {
  position: absolute;
  top: 132px;
  left: 73px;
  transition: transform 0.2s ease;

  @media (min-width: @tablet-width) {
    top: 185px;
    left: 277px;
  }

  @media (min-width: @desktop-width) {
    top: 188px;
    left: 285px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__link {
  width: 192px;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 584px;

    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    min-width: 230px;
    align-self: start;

    margin: 0;
    margin-right: auto;
  }
}
