.social {
  display: flex;
  width: 175px;

  padding: 0;
}

.social__item {
  list-style-type: none;
}

.social__link {
  display: block;
  width: 28px;

  padding: 30px 15px;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--vk {
    background-image: url("../../img/social-vk.svg");
  }

  &--youtube {
    background-image: url("../../img/social-youtube.svg");
  }

  &--telegram {
    background-image: url("../../img/social-telegram.svg");
  }
}
